<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
   <link rel="stylesheet" href="../styleAltaAutor.css">
    <title>Editar Autor</title>
</head>
<body>
    <h3 class="h3">Editar Autor</h3>
    <section>

        <form th:action="@{/autores/actualizar/}+${autor.id}" id="registro" th:method="post"><strong></strong>
         
            <div class="mb-3">
              <label for="name" class="form-label">Nombre del Autor:</label>
              <input type="text" class="form-control" name="name" th:value="${autor.nombre}"
             >
            </div>
            
         
           <article>
            <input type="submit" value="Editar" class="btn btn-success">
            <a href="/autores" class="btn btn-secondary">Cancelar</a>

           </article>
           
            
          </form>
    
    </section>



</body>
</html>